@use './variables';

// RESET CSS

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.block {
    display: block;
}

// HEADER

header {
    @include variables.flex-column-center;
    padding: 1.4rem;
    gap: 0.8rem;
    box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.4);

    .header__logo {
        height: 3.5rem;
        width: auto;
    }

    nav ul {
        @include variables.flex-column-center;
        gap: 0.6rem;
    }

    nav ul li a {
        @include variables.menu-links;
    }
}

// HERO

.introduction__hero {
    background: url('../images/haute-couture-2.jpg') center/cover;
    min-height: 21.8rem;
    @include variables.flex-column-center;

    h1 {
        @include variables.primary-title;
        background: rgba(255, 255, 255, 0.8);
        padding: 2.5rem 3rem;
    }
}

// INTRODUCTION

.introduction__quote {

    padding: 5.6rem 0;

    p {
        font-family:'Kaisei Decol', serif;
        font-weight: 800;
        font-size: 1.75rem;
        text-align: center;
    }

    .introduction__quote__author {
        margin-top: 1rem;
        font-size: 1rem;
    }
}

.introduction__text {
    padding: 1.2rem;
    text-align: center;
    border: 0.1rem solid variables.$black;
    margin-bottom: 5.2rem;
}

// PRODUCTS

.products {

    @include variables.flex-column-center;
    padding: 5.4rem 1.8rem;

    background: {
        color: variables.$caramel;
    }

    h2 {
        @include variables.secondary-title;
        color: variables.$white;
        margin-bottom: 4rem;
    }

    .secondary-button {
        @include variables.secondary-button;
        margin-top: 4rem;
    }

    .products__card {

        @include variables.flex-column-center;
        gap: 3.8rem;


        h3 {
            @include variables.small-title;
        }

        p {
            color: variables.$white;
            text-align: center;
            font-weight: 300;
            margin-bottom: 2.2rem;
        }

        figure {
            height: 18rem;
            width: 20rem;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}

// STORY

.story {

    padding: 7rem 0;
    @include variables.flex-column-center;
    margin: 0 1.8rem;
    border-bottom: 0.1rem solid variables.$black;

    h2 {
        @include variables.secondary-title;
        margin-bottom: 3.2rem;
        font-size: 2.6rem;
    }

    figure {
        height: 12rem;
        width: auto;
        margin-bottom: 2.2rem;

        img {
            height: 100%;
            width: auto;
        }
    }

    svg {
        height: 2.6rem;
    }

    .main-button {
        margin-top: 1.6rem;
        align-self: self-start;
    }
}

.main-button {
    @include variables.main-button;
}

// CONTACT

.contact {

    padding: 3rem 1.8rem 2.5rem;
    @include variables.flex-column-center;
    gap: 3rem;

    h2 {
        @include variables.secondary-title;
    }

    form {

        @include variables.flex-column-center;

        p {
            align-self: self-start;
        }

        .form__names {
            @include variables.flex-row-center;
            gap: 0.5rem;

            .form__names__prenom input, .form__names__nom input {
                width: 100%;
            }
        }

        .form__names, .form__mail, .form__message {
            padding-bottom: 1.8rem;
        }

        .form__mail, .form__message {
            @include variables.flex-column-center;
            width: 100%;

            label {
                align-self: self-start;
            }

            input, textarea {
                width: 100%;
            }

            textarea {
                min-height: 6rem;
            }
        }

        .form__button{
            margin-top: 1.8rem;
            @include variables.main-button;
            width: 100%;
            border: none;
            cursor: pointer;
        }
    }
}

// LOCATION 

.location {
    background-color: variables.$caramel;

    .location__text {

        padding: 3rem 0;

        h2 {
            @include variables.third-title;
            margin-bottom: 2rem;
        }

        p {
            text-align: center;
            color: variables.$white;
            font-weight: 300;
        }

    }

    iframe {
        display: block;
        height: 24.5rem;
        width: 100%;
    }
}

// FOOTER

footer {

    background-color: variables.$black;

    .footer__logo {
        height: 4rem;
    }

    p, a, h4 {
        color: variables.$white;
    }

    svg path {
        fill: variables.$white;
    }

    .footer {
        padding: 5.5rem 0;
        display: grid;
        grid-template: repeat(5, auto) / 1fr;
        justify-items: center;
        gap: 1.8rem;
    }

    .footer__timetable h4 {
        text: {
            transform: uppercase;
        }
        font: {
            family: 'Poppins', sans-serif;
            size: 1.1rem;
            weight: 500;
        }
    }

    .footer__social {

        h4 {
            font: {
                family: 'Poppins', sans-serif;
                size: 1.1rem;
                weight: 500;
            }
        }

        .footer__social__icons {
            @include variables.flex-row-center;
            justify-content: flex-start;
            gap: 0.5rem;

            svg {
                height: 2rem;
            }
        }
    }

    .footer__legal {
        border: 0.1rem solid variables.$caramel;
        height: 5.5rem;
        @include variables.flex-column-center;
        justify-content: space-evenly;
    }

    .footer__contact__phone, h4 {
        margin-bottom: 1.5rem;
    }
}
